* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.board {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    gap: 3rem;

    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.board::-webkit-scrollbar {
    display: none;
}

.category {
    min-width: 20rem;
    height: 100%;
    padding: 1rem;
    border: 1px solid;
    border-radius: 1rem;
}

.scroll-tool {
    position: fixed;
    bottom: 1.5rem;
    right: 2.5rem;
    background: #adadad;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.scroll-handle {
    width: 2.5rem;
    height: 4.5rem;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    cursor: grab;
    position: absolute;
    left: 0;
}

.tool-contents {
    display: flex;
    gap: 0.25rem;
}

.tool-contents > div {
    height: 4rem;
    width: 1rem;
    background-color: #555;
    border-radius: 0.25rem;
}